body {
    color: rgb(247, 3, 3);
background: rgb(92, 11, 11);
    margin: 0px;
}
header{
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 32px;
    color: rgb(42, 122, 288);
}
</body>
              section {
              background:
              rgb(184,156,213);
              padding-bottom: 80px;
              padding-top:80px;
              display:flex;
              justify-content:center;
              }
              .chamada-texto {
              margin-right: 5%;
              }